.contact__text {
  @include standard-text;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: $text-color;
}

.contact_title {
  @include standard-text;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  color: $text-color;
}

.contact_data {
  @include standard-text;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: $text-link-color;
}
