.feature__text {
  @include standard-text;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: $text-color;
}

.features_list {
  list-style: none;
}

.features__title {
  @include standard-text;
  font-size: 18px;
  font-weight: bold;
  color: $subtitle-color;
}

.features__description {
  @include standard-text;
  color: $text-color;
}
