.image-processing {
  background-color: $photo-background-color;
}

.image-processing__list {
  list-style: none;
}

.image-processing__button {
  @include standard-text;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: $text-link-color;

  border: 3px solid $text-link-color;
  border-radius: 50px;
}
