.tariff__list {
  border-collapse: collapse;
}

.tariff__item {
  background-color: $text-color;
  border: 1px solid $table-border-color;
}

.tariff__title {
  @include standard-text;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: $title-color;
}

.tariff__cost {
  @include standard-text;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $title-color;
}

.tariff__field {
  @include standard-text;
  line-height: 30px;
  color: $text-color;

  border: 1px solid $table-border-color;
}
