$title-color: #ffffff;
$subtitle-color: #000000;
$text-color: #283645;
$text-link-color: #d22856;
$header-color: hsla(209, 42%, 15%, 90);
$main-nav-color: hsl(211, 42%, 22%);
$download-color: hsl(213, 41%, 15%);
$table-border-color: #e5e5e5;
$photo-background-color: #f2f2f2;
